@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    background: linear-gradient(grey,black);
    height: 100vh;    
}

#container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 102%;
    position: absolute;
    width: 130px;
    background: radial-gradient(rgb(117, 0, 128), rgb(56, 28, 218));
    z-index: 2;
}
#container li a{
    margin: 10px;
    color: white;
    text-decoration: none;
}

#li{
    color: turquoise;
    font-weight: bolder;
    
}
li:hover{
    font-weight: bold;
}
hr{
    height:8px;
    background-color: violet;
    border: none;
}
#background{
    width: 110px;
    height: 120px;
    border-radius: 10px 0px 10px 10px;
    margin-top: 0px;
    margin-right: -1153px;
}
#a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
img{
    width: 200px;
    height: 200px;
}
#a:hover{
    opacity: 0.7;
    font-weight: initial;
}
div{
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 7px;
}
#p {
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    animation: heading 3s infinite;
  }
  
  @keyframes heading {
    0% {
      color: dodgerblue;
    }
  
    50% {
      color: hotpink;
    }
  }